.user-card{
    border: 2px solid black;
    margin: 0 auto;
    width: 500px;
}
.top-info{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.bottom-info{
    margin-right: 80px;
    display: flex;
    justify-content: center;

}
.top-info button{
    background-color: yellow;
    height: 30px;
    box-shadow: 3px 2px black;
    border: 1px solid black;
}